<template>
    <div class="container">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Hero title
                    </h1>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
</style>
