<template>
<div class="container">
  <div class="columns is-vcentered">
    <div class="column is-6 is-half" style="padding-bottom: 0px;padding-top: 0px;">
      <div class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">Bienvenue sur Give And Go</h1>
            <h2 class="subtitle">
              Votre plateforme de recontionnement de smartphone
            </h2>
            <h2 class="subtitle" style="margin-top:10%">
              <div class="columns">
                <div class="column is-6 is-half">
                  <button class="button is-small" style="background-color: #6c63ff;color: white;border-color: white;border-radius: 6px;">INSCRIPTION</button>
                </div>
                <div class="column is-6 is-half">
                  <button class="button is-small" style="border-radius: 6px;">CONNEXION</button>
                </div>
              </div>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6 is-half" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="hero is-fullheight">
        <div class="hero-body">
          <img src="/static/js/images/undraw_android_jr64 1.png" class="is-centered" alt="" style="margin: auto;">
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
